body{
     background-color: orange;
font-family: 'Days One', sans-serif;
	 }
.fade{
    color:green;
    opacity: 1;
	
}

.fade:hover{
    color:red;
	transit: opacity .25s ease-in-out;
}









 	