body{
     background-color:green;
	 font-family: 'Quicksand', sans-serif;
	 
	 
}

.fade{
  color:black;
  opacity:1;
  transition: opacity  .25s ease-in-out;
  
  
} 

.fade:hover {
	color: white;
}